@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

body, button {
  font-family: "Azeret Mono", monospace;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section-title {
  color: rgb(13, 19, 33);
  font-size: 25px;
  font-weight: 800;
}

.section-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}

/* Nav Styles Starts */

.nav-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.nav-title {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  margin-top: 10px;
}

.nav-btn {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 17px 24px 17px 24px;
  border-radius: 8px;
  opacity: 0.8;
  cursor: pointer;
}

/* Nav Styles Ends */

/* Banner Styles Starts */
.banner-container {
  max-width: 1600px;
  /* margin: 0 auto; */
  /* width: 100%; */
  height: 650px;
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 2px solid purple; */
}

.banner-content {
  max-width: 990px;
  height: 580px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 30px;
  /* border: 2px solid red; */
}

.banner-img {
  margin-top: 30px;
}

.banner-title {
  text-align: center;
  margin-top: 30px;
  color: rgb(13, 19, 33);
  font-size: 35px;
  font-weight: 800;
}

.banner-description {
  margin-top: 25px;
  padding: 0 100px 0 100px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  opacity: 0.8;
}

.banner-btn {
  margin: 32px 0;
  font-weight: 600;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(13, 19, 33);
  border-radius: 8px;
  padding: 21px 24px 21px 24px;
}

/* Banner Styles Ends */

/* Why Web Development Styles Starts */
.web-dev-container {
  max-width: 1300px;
  margin: 70px auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  /* border: 2px solid red; */
}

.web-dev-content {
  max-width: 1300px;
  margin: 80px 100px;
  /* border: 2px solid green; */
  text-align: center;
}

.web-dev-section {
  max-width: 1300px;
  margin: 80px 100px;
  /* border: 2px solid blue; */
  display: flex;
}

.btn {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  border: none;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px 12px 20px;
}

.web-dev-section .btn a {
  text-decoration: none;
  color: rgb(13, 19, 33);
}

/* Why Web Development Styles Ends */
